{# app/Resources/views/liccb/user_management.html.twig #}
{# Variables: page_title, stylesheet, body, javascript, user_entries#}
{% extends 'base.html.twig' %}

{% block page_title %}Lookback Search Results{% endblock %}

{% block body %}
	{# Contain whole thing in variable sized scrollable window #}
	<div class="panel-group" id="accordion">
    {% for registrant in registrants %}
		{# Contain each user entry in dropdown configuration in unordered list#}
		<button class="accordion">{{ registrant.getfullName() }}</button>
		<div class="panel">
			<table>
				<tr>
					<td># Events applied to:</td>
				</tr>
				<tr>
					<td># Events invited to:</td>
				</tr>
				<tr>
					<td># Events confimed attending:</td>
				</tr>
				<tr>
					<td># Events attended:</td>
				</tr>
				<tr>
					<td>Administrative comments:</td>
				</tr>
				<tr>
					<td><a href="registrants/{{ registrant.registrantEmail }}">Registrant Page</a></td>
				</tr>
			</table>
		</div>
		{% set parties = registrant.getParties() %}
		{% for party in parties %}
			{% set event = party.getOrgEvent() %}
			<div class="panel">
				<table>
					<tr>
						<td>Event: {{ event.getOrgEventName() }}</td>
						<td>Date: {{ event.getDate().format('M d, Y') }}</td>
					</tr>
					<tr>
						<td>Party Size: {{ party.getNumSeats() }}</td>
						<td># party members confirmed: {{ party.getConfirmedAttending() }}</td>
						<td># party members attended: {{ party.getNumActuallyAttended() }}</td>
					</tr>
				</table>
			</div>
			{#<div class="panel">
				<table>
					<tr>
					<td>Over 18: {{ registrant.over18 }}</td>
					<td>Has Swimming Experience: {{ registrant.hasSwimExperience }}</td>
					<td>Has Boating Experience: {{ registrant.hasBoatExperience }}</td>
					</tr>
					<tr>
					<td>Phone Number: {{ registrant.phone }}</td>
					<td>Emergency Contact: {{ registrant.emergencyContactName }}</td>
					<td>Emergency Contact Number: {{ registrant.emergencyContactPhone }}</td>
					</tr>
					<tr>
					<td><a href="registrants/{{ registrant.registrantEmail }}">Registrant Page</a></td>
					</tr>
					<tr>
						<td>Test 1</td>
						<td>Test 2</td>
						<td>Test 3</td>
					</tr>
				</table>
			</div>#}
		{% endfor %}
		<br />
    {% endfor %}
	</div>
{% endblock %}

{% block javascript %}
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function(){
				/* Toggle between adding and removing the "active" class,
				to highlight the button that controls the panel */
				this.classList.toggle("active");
	
				/* Toggle between hiding and showing the active panel */
				var panel1 = this.nextElementSibling;
				var panel2 = panel1.nextElementSibling;
				if (panel1.style.display === "block") {
					panel1.style.display = "none";
					panel2.style.display = "none";
				} else {
					panel1.style.display = "block";
					panel2.style.display = "block";
				}
			}
		}
	</script>
{% endblock %}
