{# app/Resources/views/liccb/user_management.html.twig #}
{# Variables: page_title, stylesheet, body, javascript, user_entries#}
{% extends 'base.html.twig' %}

{% block page_title %}Lookback Search Results{% endblock %}

{% block body %}
	{# Contain whole thing in variable sized scrollable window #}
	<div class="panel-group" id="accordion">
    {% for registrant in registrants %}
		{# Contain each user entry in dropdown configuration in unordered list#}
		<button class="accordion">{{ registrant.getfullName() }}</button>
		<div class="panel">
			<table>
				<tr>
					<td># Events applied to: {{ registrant.getNumTimesApplied() }}</td>
				</tr>
				<tr>
					<td># Events invited to: {{ registrant.getNumTimesInvited() }}</td>
				</tr>
				<tr>
					<td># Events confimed attending: {{ registrant.getNumTimesConfirmed() }}</td>
				</tr>
				<tr>
					<td># Events attended: {{ registrant.getNumTimesAttended() }}</td>
				</tr>
				<tr>
					<td>Administrative comments:</td>
				</tr>
				<tr>
					<td><a href="registrants/{{ registrant.getRegistrantEmail() }}">Registrant Page</a></td>
				</tr>
			</table>
			{% set parties = registrant.getParties() %}
			{% set numParties = parties|length %}
			{% for party in parties %}
				{% set event = party.getOrgEvent() %}
				<table>
					<tr>
						<td>Event: {{ event.getOrgEventName() }}</td>
						<td>Date: {{ event.getDate().format('M d, Y') }}</td>
					</tr>
					<tr>
						<td>Party Size: {{ party.getNumSeats() }}</td>
						<td># party members confirmed: {{ party.getConfirmedAttending() }}</td>
						<td># party members attended: {{ party.getNumActuallyAttended() }}</td>
					</tr>
				</table>
			{% endfor %}
		</div>
	{% endfor %}
	</div>
{% endblock %}

{% block javascript %}
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function(){
				/* Toggle between adding and removing the "active" class,
				to highlight the button that controls the panel */
				this.classList.toggle("active");
	
				/* Toggle between hiding and showing the active panel */

				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.style.display = "none";
				} else {
					panel.style.display = "block";
				}
			}
		}
	</script>
{% endblock %}
