{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ event.orgEventName }}</h1>
	<ul>
		<li>Type: {{ event.orgEventType }}</li>
		<li>Capacity: {{ event.capacity }}</li>
		<li>Date: {{ event.date|date("m/d/Y") }}</li>
		<li>Signup Start: {{ event.signupStart|date("m/d/Y") }}</li>
		<li>Signup End: {{ event.signupEnd|date("m/d/Y") }}</li>
		<li>Event Description: {{ event.orgEventDescription }}</li>
	</ul>
	
	<a href="{{ path('event_edit', {'id': event.id}) }}">Edit</a>
	{{ form_start(form) }}
	<div class="panel-group" id="accordion">
		<button class="accordion">Selection Strategy</button>
		<div class="panel">
			<table>
				<select>
					<option value="" disabled selected>Select a Strategy...</option>
					{#
					{% for strategy in form.strategies %}	
						<option value = "{{strategy.id}}"> {{strategy.name}} </option>
					{% endfor %}
					#}
				</select>
				{{ form_row(form.score)}}
				<tr>
					<th> Property Name</th>
					<th> Expected Answer </th>
					<th> Weight </th>
					<th> Mantadory </th>
				</tr>
			</table>
		</div>
	</div>

	<table>
		<tr>
			<th>Name</th>
			<th># Seats</th>
			<th>Selection Status</th>
			<th>Selection Status Reason</th>
			<th>18+</th>
			<th>Can Swim?</th>
			<th>Has Boating Experience</th>
			<th>Has CPR Certification</th>
			<th>Evaluation</th>
		</tr>
		{% for party in form.parties %}
			{% if party.vars.value.selectionStatus == "Approved" %}
				<tr class="bg-success">
			{% elseif party.vars.value.selectionStatus == "Denied" %}
				<tr class="bg-danger">
			{% elseif party.vars.value.selectionStatus == "Emailed" %}
				<tr class="bg-info">
			{% else %}
				<tr>
			{% endif %}
			    <td>{{ party.vars.data.Registrant.fullName }}</td>
			    <td>{{ party.vars.value.numSeats }}</td>
			{% if party.vars.data.selectionStatus == "Emailed" %}
				<td>{{ form_row(party.selectionStatus, {'disabled': 'disabled'}) }}</td>
			{% else %}
				<td>{{ form_row(party.selectionStatus) }}</td>
			{% endif %}
			    <td>{{ form_row(party.selectionStatusReason) }}</td>
				<td>{{ party.vars.data.Registrant.over18 ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasSwimExperience ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasBoatExperience ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasCprCertification ? "Yes" : "No"}}</td>
				<td>{{ party.vars.value.selectionScore }}</td>
			</tr>
		{% endfor %}
	</table>
	{{ form_end(form) }}

	<h3>Attendance</h3>

	{{ form_start(attendance_form) }}
		<table>
		<tr>
			<th>Name</th>
			<th># Seats</th>
			<th># Attended</th>
		</tr>
		{% for party in attendance_form.parties %}
			{% if party.vars.value.selectionStatus == "Approved" %}
				<tr class="bg-success">
			{% elseif party.vars.value.selectionStatus == "Denied" %}
				<tr class="bg-danger">
			{% elseif party.vars.value.selectionStatus == "Emailed" %}
				<tr class="bg-info">
			{% else %}
				<tr>
			{% endif %}
			    <td>{{ party.vars.data.Registrant.fullName }}</td>
			    <td>{{ party.vars.value.numSeats }}</td>
				<td>{{ form_row(party.numActuallyAttended,
					{'attr': { 'min': 0, 'max': party.vars.value.numSeats }}) }}</td>
			</tr>
		{% endfor %}
	</table>
	{{ form_end(attendance_form) }}

{% endblock %}

{% block javascript %}
	<script>
		var acc = document.getElementsByClassName("accordion");
		acc[0].onclick = function(){
			/* Toggle between adding and removing the "active" class,
			to highlight the button that controls the panel */
			this.classList.toggle("active");
	
			/* Toggle between hiding and showing the active panel */
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
		}
	</script>
{% endblock %}
