{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ event.orgEventName }}</h1>
	<ul>
		<li>Type: {{ event.orgEventType }}</li>
		<li>Capacity: {{ event.capacity }}</li>
		<li>Date: {{ event.date|date("m/d/Y") }}</li>
		<li>Signup Start: {{ event.signupStart|date("m/d/Y") }}</li>
		<li>Signup End: {{ event.signupEnd|date("m/d/Y") }}</li>
		<li>Event Description: {{ event.orgEventDescription }}</li>
	</ul>
	
	<a href="{{ path('event_edit', {'id': event.id}) }}">Edit</a>

	<div class="panel-group" id="accordion">
		<button class="accordion">Selection Strategy</button>
		
		<div class="panel">
			{{ form_start(strategy_form) }}
				{{ form_row(strategy_form.strategies) }}
			<table>
				<tr>
					<th> Property Name</th>
					<th> Expected Answer </th>
					<th> Weight </th>
					<th> Mantadory </th>
				</tr>
				<tr>
					<td> Over 18? </td>
					<td> 
						<select name="over18">	
							<option value=1> True </option>
							<option value=0> False </option>
						</select>
					</td>
					<td> <input type="number" min="-1" max="10"> </td>
					<td> <input type="checkbox"> </td>
				</tr>
				<tr>
					<td> Swim Experience? </td>
					<td>
						<select name="swimExperience">	
							<option value=1> True </option>
							<option value=0> False </option>
						</select>
					</td>
					<td> <input type="number" min="-1" max="10"> </td>
					<td> <input type="checkbox"> </td>
				</tr>
				<tr>
					<td> Boat Experience? </td>
					<td>
						<select name="boatExperience">	
							<option value=1> True </option>
							<option value=0> False </option>
						</select>
					</td>
					<td> <input type="number" min="-1" max="10"> </td>
					<td> <input type="checkbox"> </td>
				</tr>	
				<tr>
					<td> CPR Certified? </td>
					<td>	
						<select name="cpr">	
							<option value=1> True </option>
							<option value=0> False </option>
						</select>
					</td>
					<td> <input type="number" min="-1" max="10"> </td>
					<td> <input type="checkbox"> </td>
				</tr>
				<tr>
					<td> Volunteer or Public Participant? </td>
					<td> 	
						<select name="participantType">	
							<option value="volunteer"> Volunteer</option>
							<option value="participant"> Participant </option>
						</select> 
					</td>
					<td> <input type="number" min="-1" max="10"> </td>
					<td> <input type="checkbox"> </td>
				</tr>				
			</table>
			{{ form_end(strategy_form) }}
			{{ form_start(score_form) }}	
			{{ form_end(score_form) }}	

		</div>
	</div>

	{{ form_start(form) }}
	<table>
		<tr>
			<th>Name</th>
			<th># Seats</th>
			<th>Selection Status</th>
			<th>Selection Status Reason</th>
			<th>18+</th>
			<th>Can Swim?</th>
			<th>Has Boating Experience</th>
			<th>Has CPR Certification</th>
			<th>Evaluation</th>
		</tr>
		{% for party in form.parties %}
			{% if party.vars.value.selectionStatus == "Approved" %}
				<tr class="bg-success">
			{% elseif party.vars.value.selectionStatus == "Denied" %}
				<tr class="bg-danger">
			{% elseif party.vars.value.selectionStatus == "Emailed" %}
				<tr class="bg-info">
			{% else %}
				<tr>
			{% endif %}
			    <td>{{ party.vars.data.Registrant.fullName }}</td>
			    <td>{{ party.vars.value.numSeats }}</td>
			{% if party.vars.data.selectionStatus == "Emailed" %}
				<td>{{ form_row(party.selectionStatus, {'disabled': 'disabled'}) }}</td>
			{% else %}
				<td>{{ form_row(party.selectionStatus) }}</td>
			{% endif %}
			    <td>{{ form_row(party.selectionStatusReason) }}</td>
				<td>{{ party.vars.data.Registrant.over18 ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasSwimExperience ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasBoatExperience ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasCprCertification ? "Yes" : "No"}}</td>
				<td>{{ party.vars.value.selectionScore }}</td>
			</tr>
		{% endfor %}
	</table>
	{{ form_end(form) }}

{% endblock %}

{% block javascript %}
	<script>
		var acc = document.getElementsByClassName("accordion");
		acc[0].onclick = function(){
			/* Toggle between adding and removing the "active" class,
			to highlight the button that controls the panel */
			this.classList.toggle("active");
	
			/* Toggle between hiding and showing the active panel */
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
		}
	</script>
{% endblock %}
