{# app/Resources/views/lookback/search_results.html.twig #}
{# Variables: page_title, stylesheet, body, javascript, user_entries#}
{% extends 'base.html.twig' %}

{% block page_title %}Lookback Search Results{% endblock %}

{% block body %}
	<h1>Lookback Search</h1>

	{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

	{% set collapseId = 0 %}

	<table>
		<tr>
			<th>Name</th>
			<th># Events Registered To</th>
			<th># Events Selected To</th>
			<th># Events Attended</th>
			<th># Administrative Comments</th>
			<th>Link to Registrant</th>
			<th>Events Attended</th>
		</tr>
		{% for registrant in registrants %}
			<tr>
				<td>{{ registrant.getfullName() }}</td>
				<td>{{ registrant.getNumTimesApplied() }}</td>
				<td>{{ registrant.getNumTimesInvited() }}</td>
				<td>{{ registrant.getNumTimesAttended() }}</td>
				<td><button>TODO: comments</button></td>
				<td><a href="registrants/{{ registrant.getRegistrantEmail() }}">Registrant Page</a></td>
				<td><button data-toggle="collapse" data-target=".collapse{{ collapseId }}">Expand</button></td>
			</tr>

			<tr class="collapse{{ collapseId }} collapse">
				<td></td>
				<th class="event-name">Event</th>
				<th>Event Type</th>
				<th>Date</th>
				<th>Party Size</th>
				<th>Party confirmed attending</th>
				<th># party members attended</th>
			</tr>
			
			{% set parties = registrant.getParties() %}
			{% set numParties = parties|length %}
			{% for party in parties %}
				{% set event = party.getOrgEvent() %}
					<tr class="collapse{{ collapseId }} collapse">
						<td></td>
						<td>{{ event.getOrgEventName() }}</td>
						<td>{{ event.getOrgEventType() }}</td>
						<td>{{ event.getDate().format('M d, Y') }}</td>
						<td>{{ party.getNumSeats() }}</td>
						<td>{% if party.getConfirmedAttending() %}yes{% else %}no{% endif %}</td>
						<td>{{ party.getNumActuallyAttended() }}</td>
					</tr>
			{% endfor %}
			{% set collapseId = collapseId + 1 %}
		{% endfor %}
	</table>
{% endblock %}